* {
    margin: 0;
    padding: 0;
    font-family: roboto, inter, sans-serif, Arial, Helvetica;
}

body {
    background-color: #080808;
    color: white;
}

span {
    color: #ff0000;
}

/*estilo menu nav*/

.menu {
    background-color: #080808;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    padding: 10px 0;

}


.menu-list {
    color: var(--text-color);
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
    padding-right: 70px;
    cursor: pointer;
}

.menu-list a {
    text-decoration: none;
    justify-content: end;
    padding-top: 10px;
    color: white;

}


.menu-list a:hover {
    cursor: pointer;
    color: red;
    transition: 0.4s;
}

/*CSS cases*/
.container-title{
margin: 40px;


}

.container-title h1{
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.title-pag{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 5px;
}

.text-pag{
    font-size: 24px;
    width: 400px;
    

}

.container-empresas{
    width: 100%;
    max-width: 320px;
    background: #000000;
    border: 2px solid rgba(255,0,0,0.15);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding: 25px;
    

    
}

.container-cases{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  
    margin: 0 auto;
    padding: 50px 20px;
}

.cases-btn{
    width: 150px;
    height: fit-content;
    background-color: #ff0000;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    margin-top: 20px;
}

.cases-btn:hover{
    background-color: #772424;
    cursor: pointer;
    transition: .2s;
}

/*style footer*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;

}
.container-footer{
    color: rgb(159, 155, 155);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}